<h2> Articles </h2>

<ul id="articles" class = "no-bullets" >
  <% @articles.each do |article| %>
    <% if article.status == 'published' %>
      <li><%= link_to article.title, article_path(article) %></li>
    <% end %>
  <% end %>
</ul>
