<h2> Articles </h2>

<%= link_to_if(logged_in?, "Make a New Article", new_article_path) do %>
  <p>Login to Make an Article</p>
<% end %>

<ul class = "no-bullets" >
  <% @articles.each do |article| %>
    <% if article.status == 'published' %>
      <li><%= link_to article.title, article_path(article) %></li>
    <% end %>
  <% end %>
</ul>
