<h2> MAKE A NEW REVISION!!!! </h2>

<%= render "errors" %>
<%= form_for :revision, url: {action: "create"} do |f| %>
  <%if @previous_revision%>
    <%body = @previous_revision.body%>
  <%else%>
    <%body = ''%>
  <%end%>
  <%= f.text_area(:body, value: body) %> <br>
  <%= submit_tag("Submit") %>
<% end %>
