<h2> MAKE A NEW REVISION!!!! </h2>

<%= render "errors" %>

<p>Add image anchors around links to display images [img:]http://your.image.url[:img].</p>

<%= form_for :revision, url: {action: "create"} do |f| %>
  <%if @previous_revision%>
    <% #body = @previous_revision.body%>
  <%else%>
    <% body = ''%>
  <%end%>
  <%= f.text_area(:body, id: 'edit', value: body) %><br>
  <%= submit_tag("Submit") %>
<% end %>

