/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /*
 *= require froala_editor.min.css
 *= require froala_style.min.css
 *= require font-awesome
 */
h2 {
  /*border-style: solid;*/
  border-bottom: thick solid lightblue;
  border-bottom-width: 2px;
  /*box-shadow: 10px 5px 5px #888888;*/
}

html {
  font-family: 'Reem Kufi', sans-serif;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* This is for box-sizing normalization: */
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  }

body {
  max-width: 1500px;
  background-image: url(/images/wiki.png);
  background-repeat: no-repeat;
  background-position:100% 150%;
  background-attachment: fixed;
}

/* */
label{
  display: block;
}

input{
  margin-bottom: 20px;
  display: block;
}

.no-bullets {
  list-style: none;
}

.container {
  /*margin: auto;*/
  width: 85%;
  padding: 0px 20px 20px 20px;
  border-style: solid;
  border-color: lightgrey;
  float: right;
  border-top: none;
  background-color: white;
}

/* Style the list */
ul.tab {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Float the list items side by side */
ul.tab li {float: left;}

/* Style the links inside the list items */
ul.tab li a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of links on hover */
ul.tab li a:hover {background-color: #ddd;}

/* Create an active/current tablink class */
ul.tab li a:focus, .active {background-color: #ccc;}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
    -webkit-animation:fadeEffect 1s;
    animation: fadeEffect 1s;
}
@-webkit-keyframes fadeEffect{
  from {opacity: 0;}
  to {opacity: 1;}
}
@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

.header-banner{
  padding: 20px;
  background-color: lightgrey;
}

.pipe-separate {
  padding-left: 1em;
  padding-right: 1em;
  border-right: 1px solid;
  float: left;
}

.pipe-separate:first-of-type {
  padding-left: 0;
}

.pipe-separate:last-of-type {
  padding-right: 0;
  border-right: none;
}

.nav-list{
  list-style-type: none;
  float: right;
  padding-right: 30px;
}

.buttonlink{
  background-color: white;
  border: none;
  padding: 0px 0px;
  color: blue;
  margin-bottom: 0px;
  text-decoration: underline;
}

/*.container {
  margin: 20px auto;
  width: 800px;
  padding: 20px;
  border: 1px solid black;
}*/

.float-left {
  float: left;
}

.submit-tag {
  float: right ;
  margin-left: 10px;
}

.user-page{
  padding: 30px;
}
.il{
  display: inline;
}

#side-bar {
  position: absolute;
  left: 20px;
  width: 15%;
  text-align: left;
}

#categories {
  padding-left: 20px;
}
.tabcontent{
  background-color: white;
}

