<h2><% @category.name %></h2>
<ul id="categorys_articles" class = "no-bullets" >
<% @category.articles.each do |article| %>
    <% if article.status == 'published'%>
      <li><%= link_to article.title, article_path(article) %></li>
    <% elsif logged_in? && article.status == 'unpublished' && (current_user.role == 'admin' || current_user.role == 'superadmin') %>
      <li><%= link_to article.title, article_path(article) %></li>
    <% end %>
  <% end %>
</ul>

