<h3> Categories </h3>
<ul class="no-bullets" id='categories'>
  <% categories.try('each') do |category| %>
    <!-- we need to change this to a link later. -->
    <li><a href="/categories/<%= category.id %>"><%= category.name %></a></li>
  <% end %>
</ul>

